<?xml version="1.0" encoding="utf-8" ?>
<!--
    ============================================================================

    File Name:          app.config

    File Usage:         This XML file stores the configuration settings for
                        FixCSV.exe, a character-mode program built on the .NET
                        Framework, to transform a CSV file that conforms to
                        RFC 4180 so that it is acceptable as input to Microsoft
                        Excel.
                     
    ============================================================================
    Revision History
    ============================================================================

    Date       By Description of Change
    ========== == ==============================================================
    2020/09/02 DG File created as part of a new C# character-mode project by the
                  Visual Studio code generator.

    2020/09/07 DG Trace listener and this flower box added manually via the VS
                  source code editor for XML files.

    2020/09/07 DG Since it is no longer needed, comment out the trace listener.                  
    ============================================================================
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!--
    <system.diagnostics>
        <trace autoflush="true"
               indentsize="4">
            <listeners>
                <add name="myListener"
                     type="System.Diagnostics.TextWriterTraceListener"
                     initializeData="D:\\Source_Code\\Visual_Studio\\Projects\\Console_Apps\\FixCSV\\NOTES\\FixCSV_Trace.LOG"
                />
                <remove name="Default"/>
            </listeners>
        </trace>
    </system.diagnostics>
    -->
</configuration>